@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the HR Platform!</h1>
    <p class="lead mt-4">
        This platform is designed to simplify HR processes for employees, managers, and recruiters.
        Explore and manage job applications, apply for exciting career opportunities, book paid leaves
        and keep track of them effortlessly. The HR Platform ensures a seamless and
        user-friendly experience tailored to meet all your workplace needs.
    </p>
</div>